# 案例： 利用pandas DataFrame展示股票数据

In [7]:
import pandas as pd 
import numpy as np

In [16]:
stock_data=np.random.normal(0,1,(10,5)) # 生成正态分布的随机数据
stock_rise=pd.DataFrame(stock_data)
stock_rise

          0         1         2         3         4
0  1.777786 -0.165229 -1.248414  0.428381  0.162107
1 -0.740053 -0.667843 -0.031035 -0.885585  0.626603
2  0.218838 -0.232227  1.186746 -0.060380  0.829660
3  0.273506  0.894373  0.298251  0.652683  0.325505
4 -1.416375 -1.249694 -0.051167  0.082797  0.123529
5  2.219333 -0.009838 -0.225918  1.794931  1.190642
6  1.067185  0.608478  0.985905 -0.397599  0.063015
7  0.243622  0.613167 -0.251973 -0.982348 -0.955142
8 -1.194325  1.241702 -0.783110 -0.004966 -1.527100
9 -0.202519 -0.018566 -0.826115 -0.316024  0.676027