# 案例： 利用pandas DataFrame展示股票数据

In [2]:
import pandas as pd 
import numpy as np

In [19]:
stock_data=np.random.normal(0,1,(10,5)) # 生成正态分布的随机数据
stock_rise=pd.DataFrame(stock_data)
stock_rise

          0         1         2         3         4
0 -0.801466  1.000687 -1.616360  0.864033 -0.949225
1 -0.632975  0.697405 -0.772254  0.411194 -0.761483
2 -1.445016  0.520633  1.339346  0.370395  0.727232
3  1.083540  0.381987 -0.201545 -0.150898  0.291363
4  0.239147  1.148558 -1.548146  1.878244  0.136405
5 -1.614759 -1.339156 -0.789040 -1.454814 -0.365117
6 -0.332384 -1.661991  1.545783 -0.651150  1.707417
7  0.102784 -0.721659 -0.088639 -0.370308  1.472104
8 -0.831808  0.664394 -0.905977 -1.152816  1.696795
9 -0.073434 -0.047833  1.080579 -0.600350 -0.607440

In [18]:
df=pd.DataFrame({"key":["A","B","C","A","B","A","A"],
             "sales":[10,15,20,10,15,10,10]})
df

  key  sales
0   A     10
1   B     15
2   C     20
3   A     10
4   B     15
5   A     10
6   A     10

In [19]:
for i in df["key"].value_counts().index:
    print(i,df.loc[df["key"]==i,"sales"].sum())# 统计各个key对应的销售和

A 40
B 30
C 20