# æ•°æ®é¢„å¤„ç†-é»‘è‰²æ˜ŸæœŸäº”è´­ç‰©æ•°æ®


**æ•°æ®é›†æè¿°**

ç¾å›½çš„é»‘è‰²æ˜ŸæœŸäº”ç›¸å½“äºæ˜¯ä¸­å›½çš„åŒ11ï¼Œäººä»¬åœ¨è¿™ä¸€å¤©çš„è´­ä¹°é‡æ˜¯éå¸¸ä¹‹å¤šçš„ã€‚
åŸå§‹æ•°æ®æœ‰50å¤šä¸‡æ¡è´­ç‰©è®°å½•ã€‚æœ¬æ¡ˆä¾‹ä¸ºäº†æé«˜ç¨‹åºè¿è¡Œé€Ÿåº¦ï¼Œæˆªå–äº†å‰5åƒæ¡æ•°æ®ã€‚

**å­—æ®µè§£é‡Š**

'User_ID': å­—ç¬¦ä¸²ç±»å‹ï¼›æ¯åé¡¾å®¢ç‹¬ç‰¹çš„ç¼–å·ï¼Œä»ç¼–å·å¯çŸ¥ä¸€å…±æœ‰6039åé¡¾å®¢ã€‚

'Product_ID': å­—ç¬¦ä¸²ç±»å‹ï¼›æ¯ä¸ªäº§å“ç‹¬ç‰¹çš„ç¼–å·

'Gender': å­—ç¬¦ä¸²ç±»å‹ï¼›é¡¾å®¢æ€§åˆ«ï¼›æœ‰2ä¸ªå€¼ï¼Œåˆ†åˆ«ä¸ºFï¼šå¥³æ€§ Mï¼šç”·æ€§

'Age': å­—ç¬¦ä¸²ç±»å‹ï¼›é¡¾å®¢æ‰€åœ¨å¹´é¾„æ®µï¼›æœ‰7ä¸ªå€¼ï¼Œåˆ†åˆ«ä¸º0-17å²ã€18-25å²ã€26-35å²ã€36-45å²ã€46-50å²ã€51-55å²å’Œ55å²ä»¥ä¸Š

'Occupation': å­—ç¬¦ä¸²ç±»å‹ï¼›é¡¾å®¢çš„èŒä¸šï¼›æœ‰21ä¸ªå€¼ï¼Œä¸ºæ•°å­—0-20åˆ†åˆ«ä»£è¡¨ä¸åŒçš„èŒä¸š

'City_Category': å­—ç¬¦ä¸²ç±»å‹ï¼›é¡¾å®¢æ‰€åœ¨åŸå¸‚ï¼›æœ‰3ä¸ªå€¼ï¼Œåˆ†åˆ«ä¸ºå­—æ¯Aã€Bã€Cï¼Œä»£è¡¨ä¸‰ä¸ªä¸åŒçš„åŸå¸‚

'Stay_In_Current_City_Years': å­—ç¬¦ä¸²ç±»å‹ï¼›é¡¾å®¢åœ¨æ‰€åœ¨åŸå¸‚å±…ä½æ—¶é•¿ï¼›æœ‰4ä¸ªå€¼ï¼Œåˆ†åˆ«ä¸º1ã€2ã€3ã€4+ å•ä½å¹´ï¼ˆæ³¨ï¼šåœ¨æ•°æ®é¢„å¤„ç†æ—¶ä¼šå°†å…¶è½¬æ¢ä¸ºæ•°å€¼ç±»
å‹ï¼‰

'Marital_Status': å­—ç¬¦ä¸²ç±»å‹ï¼›é¡¾å®¢å©šå§»çŠ¶å†µï¼›æœ‰2ä¸ªå€¼ï¼Œåˆ†åˆ«ä¸º0ã€1ï¼›0ï¼šä»£è¡¨æœªå©šï¼Œ1ï¼šä»£è¡¨å·²å©š

'Product_Category_1': å­—ç¬¦ä¸²ç±»å‹ï¼›äº§å“ç±»å‹ï¼›æœ‰20ä¸ªå€¼ï¼Œä¸ºæ•°å­—1-20ï¼Œåˆ†åˆ«ä»£è¡¨ç€20ä¸ªä¸åŒçš„äº§å“ï¼Œå¦‚é£Ÿå“ã€å›¾ä¹¦ã€å’–å•¡ç­‰

'Purchase': æ•°å€¼ç±»å‹ï¼›é¡¾å®¢è´­ç‰©æ‰€èŠ±é‡‘é¢

In [10]:
#å¯¼å…¥ç›¸å…³åŒ…
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# å¯¼å…¥æ•°æ®
data=pd.read_csv("./data/BlackFriday.csv")
print("åŸå§‹æ•°æ®ä¿¡æ¯ï¼š")
data.info()

åŸå§‹æ•°æ®ä¿¡æ¯ï¼š
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     50000 non-null  int64
 1   Product_ID                  50000 non-null  object
 2   Gender                      50000 non-null  object
 3   Age                         50000 non-null  object
 4   Occupation                  50000 non-null  int64
 5   City_Category               50000 non-null  object
 6   Stay_In_Current_City_Years  50000 non-null  object
 7   Marital_Status              49997 non-null  float64
 8   Product_Category_1          50000 non-null  int64
 9   Product_Category_2          34279 non-null  float64
 10  Product_Category_3          15183 non-null  float64
 11  Purchase                    50000 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.6+ MB

In [3]:
# å¤„ç†ç¼ºå¤±æ•°æ®

# è§‚å¯Ÿå¯çŸ¥ Marital_Status å­˜åœ¨ç¼ºå¤±
#æ›´æ”¹å…¶ä¸­ç±»åˆ«å­—æ®µä¸ºå­—ç¬¦ä¸²ç±»å‹
# toObjFields=["Product_Category_1","Product_Category_2","Product_Category_3","Occupation","Marital_Status"]
# data[toObjFields]=data[toObjFields].astype("object")
# data.describe(include="all")

#å©šå§»çŠ¶æ€åªæœ‰3ä¸ªç¼ºå¤±å€¼ï¼Œå°†å…¶æ”¹ä¸ºæœªå©šçŠ¶æ€
data['Marital_Status'].fillna(0, inplace = True)
print("\nå¡«è¡¥å©šå§»çŠ¶æ€çš„ä¸‰ä¸ªç©ºå€¼è¡Œ")
data.info() 

#Product_Category_2 å’ŒProduct_Category_3ç¼ºå¤±ä¿¡æ¯è¿‡å¤šï¼ŒUser_IDå’ŒProduct_ID å¯¹è®­ç»ƒæ— ç”¨å°†å…¶åˆ å»
data.drop(["Product_Category_2","Product_Category_3","User_ID","Product_ID"],axis=1,inplace=True)
print("\nåˆ é™¤æ— ç”¨åˆ—")
data.info()

å¡«è¡¥å©šå§»çŠ¶æ€çš„ä¸‰ä¸ªç©ºå€¼è¡Œ
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     50000 non-null  int64
 1   Product_ID                  50000 non-null  object
 2   Gender                      50000 non-null  object
 3   Age                         50000 non-null  object
 4   Occupation                  50000 non-null  int64
 5   City_Category               50000 non-null  object
 6   Stay_In_Current_City_Years  50000 non-null  object
 7   Marital_Status              50000 non-null  float64
 8   Product_Category_1          50000 non-null  int64
 9   Product_Category_2          34279 non-null  float64
 10  Product_Category_3          15183 non-null  float64
 11  Purchase                    50000 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.6+ MB

åˆ é™¤æ— ç”¨åˆ—
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Gender                      50000 non-null  object
 1   Age                         50000 non-null  object
 2   Occupation                  50000 non-null  int64
 3   City_Category               50000 non-null  object
 4   Stay_In_Current_City_Years  50000 non-null  object
 5   Marital_Status              50000 non-null  float64
 6   Product_Category_1          50000 non-null  int64
 7   Purchase                    50000 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 3.1+ MB

In [4]:
# ç‰¹å¾å·¥ç¨‹
data.describe(include="all")

# Occupationã€Marital_Statuså’ŒProduct_Category_1 åº”è¯¥ä¸ºç±»åˆ«æ•°æ®
toObjFields=["Occupation","Marital_Status","Product_Category_1"]
data[toObjFields]=data[toObjFields].astype("object")
print("ä¿®æ”¹äº†Occupationã€Marital_Statuså’ŒProduct_Category_1ä¸ºobjç±»å‹")
data.info() 

# Stay_In_Current_City_Years åº”è¯¥ä¸ºæ•°å€¼ç±»å‹æ•°æ®
data["Stay_In_Current_City_Years"].replace("4+",4,inplace=True)
data["Stay_In_Current_City_Years"]=data["Stay_In_Current_City_Years"].astype("int")
print("\nä¿®æ”¹äº†Stay_In_Current_City_Yearsä¸ºæ•°å€¼å‹")
data["Stay_In_Current_City_Years"].value_counts()

# æ„é€ å“‘å˜é‡ 
### å¯¹äºä¸€äº›ç±»åˆ«ï¼Œæ¯”å¦‚æ‰“åˆ†è¯„çº§ Aï¼ŒBï¼ŒCæ˜¯æœ‰é¡ºåºåŒºåˆ«çš„ Aä¼šæ¯”Bé«˜ï¼Œä½†æ˜¯å¯¹äºæ€§åˆ«å’Œå…¶ä»–çš„åˆ†ç±»ï¼Œå„ä¸ªç±»åˆ«ä¹‹é—´æ˜¯å¹³ç­‰çš„ï¼Œéœ€è¦å°†è¿™ç§ç±»è½¬åŒ–æˆå“‘å˜é‡
### è¿™é‡Œæ„å»ºè¿‡å¤šçš„å“‘å˜é‡å¯èƒ½ä¼šå¯¼è‡´åç»­æ¨¡å‹è®­ç»ƒæ—¶ç»´åº¦è¿‡é«˜
data=pd.get_dummies(data,drop_first=True)
# è¿™é‡Œé‡‡ç”¨ç‹¬çƒ­ç ï¼Œä½†æ˜¯å¯¹äºç‹¬çƒ­ç æ¥è¯´ï¼Œä¸€èˆ¬éƒ½å­˜åœ¨ä¸€ä¸ªçº¿æ€§çš„æ¨å¯¼å…³ç³»ï¼Œæ¯”å¦‚ä¸€ä¸ªäººçš„æ€§åˆ«éå¥³å³ç”·ï¼Œä¹Ÿå°±æ˜¯ä¸éœ€è¦ä¸¤ä¸ªåˆ—ï¼Œåªéœ€è¦ä¸€ä¸ªå³å¯
print("\nç”¨ç‹¬çƒ­ç æ„é€ å“‘å˜é‡")
data.head()

ä¿®æ”¹äº†Occupationã€Marital_Statuså’ŒProduct_Category_1ä¸ºobjç±»å‹
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Gender                      50000 non-null  object
 1   Age                         50000 non-null  object
 2   Occupation                  50000 non-null  object
 3   City_Category               50000 non-null  object
 4   Stay_In_Current_City_Years  50000 non-null  object
 5   Marital_Status              50000 non-null  object
 6   Product_Category_1          50000 non-null  object
 7   Purchase                    50000 non-null  int64
dtypes: int64(1), object(7)
memory usage: 3.1+ MB

ä¿®æ”¹äº†Stay_In_Current_City_Yearsä¸ºæ•°å€¼å‹

ç”¨ç‹¬çƒ­ç æ„é€ å“‘å˜é‡

,Stay_In_Current_City_Years,Purchase,Gender_M,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+,Occupation_1,...,Product_Category_1_9,Product_Category_1_10,Product_Category_1_11,Product_Category_1_12,Product_Category_1_13,Product_Category_1_14,Product_Category_1_15,Product_Category_1_16,Product_Category_1_17,Product_Category_1_18
0,2,8370,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,15200,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1422,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,2,1057,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,4,7969,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# åˆ†ç¦»è‡ªå˜é‡ä¸å› å˜é‡
Y=data["Purchase"]
Y.head()
X=data.drop(["Purchase"],axis=1)
X.head()

,Stay_In_Current_City_Years,Gender_M,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+,Occupation_1,Occupation_2,...,Product_Category_1_9,Product_Category_1_10,Product_Category_1_11,Product_Category_1_12,Product_Category_1_13,Product_Category_1_14,Product_Category_1_15,Product_Category_1_16,Product_Category_1_17,Product_Category_1_18
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,4,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
# åˆ†ç¦»è®­ç»ƒé›†å’Œæµ‹è¯•é›†
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [21]:
# ç‰¹å¾ç¼©æ”¾
scX=StandardScaler()
scY=StandardScaler()
x_train=scX.fit_transform(x_train)
x_test=scX.transform(x_test)
y_train=np.ravel(scY.fit_transform(y_train.values.reshape(-1,1)))

### å°è¯•ç”¨å¤šå…ƒçº¿æ€§æ¨¡å‹å»é¢„æµ‹
 ç»“æœç‹ æ‹‰ ğŸ˜ª

In [33]:

#å®ä¾‹åŒ–æ¨¡å‹å¼€å§‹è®­ç»ƒ
reg=LinearRegression()
reg.fit(x_train,y_train)
print(reg.coef_)
# å¯¹æµ‹è¯•é›†ç”Ÿæˆé¢„æµ‹ç»“æœ
y_pre=reg.predict(x_test)
# è¿›è¡Œr2è¯„åˆ†
r2_score(y_test,y_pre)

[-4.25334717e-04 -6.56993789e-04 -3.17991869e-02 -2.72052322e-02
 -1.25319139e-02 -9.87180581e-03  1.13892483e-02  2.47435855e-03
 -1.29004791e-03  4.22358615e-03  1.30542998e-02  1.18047123e-02
  5.34704871e-03  1.10727628e-02  6.66216006e-03 -2.71764910e-04
  3.93187061e-03 -7.69506878e-03  9.29352113e-03  1.32143517e-02
  3.96607466e-03 -1.16254200e-04  1.11903486e-02 -7.10536069e-03
  9.38404779e-03  7.36723202e-04 -1.29751081e-02 -1.31437948e-02
  1.28449813e-02  5.07500935e-02 -3.49873595e-03 -9.91720586e-02
 -1.33645343e-01 -3.27625922e-01 -6.64147180e-01  9.29649342e-02
  4.41985496e-02 -5.03150020e-01  1.21557323e-02  1.13569755e-01
 -3.77780552e-01 -2.08441036e-01 -2.50683431e-01 -7.63104803e-03
  2.16106908e-02  2.55255465e-02 -2.71391429e-02 -1.53844285e-01]

-3.5508490048066914